@model _2fpro.Areas.Admin.Controllers.InputModel
@{
    ViewData["Title"] = "Смена пароля";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@ViewBag.StatusMessage
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <fieldset>
                <legend>Смена пароля</legend>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                   <label asp-for="@Model.OldPassword"></label>
                   
                        <input asp-for="@Model.OldPassword" class="form-control" />
                        <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                   
                   
                </div>
                <div class="form-group">
                   <label asp-for="@Model.NewPassword" ></label>
                  
                        <input asp-for="@Model.NewPassword" class="form-control" />
                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                 
                </div>
                <div class="form-group">
                     <label asp-for="@Model.ConfirmPassword"></label>
                  
                        <input asp-for="@Model.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                  
                </div>
                <button type="submit" class="k-button k-primary">Сохранить</button>
            </fieldset>
        </form>
    </div>
</div>


